canvas {
  border: 1px solid red;
  background-image: url('images/lava.png')
}

.center {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;

}

body {
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61MqJc3crjL._SX466_.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.health1{
  height:150px;
  width:50%;
  /* background-color: red; */
  float: left;
  margin-top: 5px;

}

.health2{
  height:150px;
  width:50%;
  /* background-color:green; */
  float: right;
  margin-top: 5px;
}
.pic1{
  height:100px;
  width:100px;
  content: url('http://static2.fjcdn.com/thumbnails/comments/Yeah+well+no+one+is+forcing+you+to+be+a+_2920236a3bc973de27a119933a63920f.png');
  margin-left: 35%;
  float:left;

}
.pic2{
  height:100px;
  width:100px;
  content: url('http://plazmaburst2.com/forum/download/file.php?avatar=32547_1454800966.png');
  float:right;
  margin-right: 35%;

}