canvas {
  border: 1px solid red;
  background-image: url('images/lava.png')
}

.center {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.bodygame {
  /* background-image: url('https://images-na.ssl-images-amazon.com/images/I/61MqJc3crjL._SX466_.jpg'); */
    background-image: url('images/cement.jpg');

  background-repeat: no-repeat;
  background-size: cover;

}
.health1{
  height:150px;
  width:50%;
  /* background-color: red; */
  float: left;
  margin-top: 5px;

}

.health2{
  height:150px;
  width:50%;
  /* background-color:green; */
  float: right;
  margin-top: 5px;
}
.pic1{
  height:100px;
  width:100px;
  content: url('http://static2.fjcdn.com/thumbnails/comments/Yeah+well+no+one+is+forcing+you+to+be+a+_2920236a3bc973de27a119933a63920f.png');
  margin-left: 35%;
  float:left;

}
.pic2{
  height:100px;
  width:100px;
  content: url('http://plazmaburst2.com/forum/download/file.php?avatar=32547_1454800966.png');
  float:right;
  margin-right: 35%;

}


.gameover {
  display: block;
  text-align: center;
  
}

.gameover img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}
.gameover img display {
  display: block;
  text-align: center;
  
}
.game2{ display: block;
  text-align: center;}

.rotulo{
    height:150px;
    width:700px;
    content: url('images/watrotulo.png');
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }

  .titulo{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

  }


  /* START */

.introhead {
  width: 100%;
  height: 20%;
  content: url('images/watrotulo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
 
}
.introimg{
background-color: green;
content: url('images/watrotulo.png');
background-repeat: no-repeat;

}
/* div#start{
  width:200px;
  height:200px;
} */
div#start a{
   color: rgb(26, 18, 18);
  /*border: 2px solid #fff; */
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  /* padding: 10px 30px 30px 30px; */
  letter-spacing: 1px;
  background-image: url('images/button-play.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;

  
}

.bodyintro {
  background-image: url('images/hallow.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.granma {
  
  width: 300px;
  height: 350px;
  content: url('images/granma23.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 35%;
  position: absolute;

  /* position: relative; */

}


.instructions {
  width: 22%;
  height: 400px;
  /* background-color: green; */
  float: left;
  position: relative;
  background-image: url('images/mariobackg.png');
  background-repeat: no-repeat;
  background-size: contain;

}

h2{
  font-size:22px;
  padding-left:20px;
  padding-top:10px;

}

h1{
  font-size:22px;
  padding-left:20px;
  padding-top:70px;

}